* {
    box-sizing: border-box;
}

.logo{
    float:left;
}

.menu{
    align-items: center;
    padding:30px 50px 5px 0px;
    /*float:right;*/
}

.logo-img{
    width: 280px;
    height: 100px;
    padding: 0px 0px 5px 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

li a {
    display:block;
    color:aliceblue;
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
}

li{
    margin:auto;
    float:right;
}

li a:hover:not(active){
    background-color: #FF5475;
}

li a.active{
    background-color: #FF5475;
}

header{
    background-color: #FF974F;
    overflow: hidden;
    width: 100%;

}

.img1{
    width:100%;
}

.booking{
    text-align: center;
    font-size: xx-large;
    display: block;
    background-color: #FF5475;
    padding: 5px 5px;
}

img.top{
    width: 450px;
    height: 250px;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: #FF974F;
    color: white;
    bottom: 0;
    width: 100%;
    height: 60px;
}

figure{
    left: 0;
}