*{
    margin:5px;
    font-family: sans-serif;
}
header{
    height: fit-content;
    display:flex;
    text-align:justify;
    padding-bottom: 5px;
}

h3{
    padding-top: 15px;
    font-family: serif;
}

.logo{
    width: 80px;
    height: 80px;
}

.container{
    padding: 5px 5px;
}

nav a{
    font-size: 10pt;
    display:block flex;
    color:white;
    padding-right: 30px;
    text-decoration: none;
}

a:hover{
    color:rgb(47, 118, 211);
    transition-duration: 0.5s; 
}

nav{
    width:97.7%;
    background-color:rgb(204, 153, 12);
    padding: 15px 15px;
}

.body{
    display:flex;
    height: auto;
    width:auto;
}

.main{
    width:70%;
    border-left :1px solid rgb(255, 225, 143);
    border-right :1px solid rgb(255, 225, 143);
    border-top:2px solid crimson;
    border-bottom: 2px solid rgb(204, 153, 12);
    border-radius: 5px;
    margin-left: 15px;
    padding:15px 15px;
    margin-right: 10px;
}

.main img{
    width: 210px;
    height: 280px;
}

.container2{
    margin: 0;
}

.container2 img{
    float:left;
}

table{
    width:75%;  
    border-collapse: collapse;
    margin-top: 10px;
}

th,td{
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

.news{
    width:30%;
    
}

.news h2{
    display: block;
    padding:10px;
    background-color: #DDD;
    border-radius: 5px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    list-style-position: outside;
}

li{
    border-bottom: 1px solid #DDD;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 0;
}

li a{
    margin-left:0;
    color: black;
    text-decoration:none ;
}

footer{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    height: 45px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 0px -5px 15px #8888;
}

.shadow{
    border: 1px solid #DDD;
    margin: 15px;
    box-shadow: 3px -5px 15px #8888;
}